.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

  h1 {
    text-align: center;
  }

  .div1 {
    background: green;
    text-align: center;
    grid-area: 1 / 1 / 2 / 7 ;
  }
  
  .div2 {
    background-color: black;
    text-align: center;
    grid-area: 2 / 1 / 3 / 2 ; 
  }

  .div3 {
   background-color: teal;
   text-align: center;
   grid-area: 2 / 2 / 3 / 3 ;
  }

  .div4 {
    background-color: blue;
    text-align: center;
    grid-area: 2 / 3 / 3 / 4 ;
  }
  
  .div5 {
    background-color: navy;
    text-align: center;
    grid-area: 2 / 4 / 3 / 5 ;
  }

  .div6 {
    background-color: lime;
    text-align: center;
    grid-area: 2 / 5 / 3 / 6 ;
  }
  
  .div7 {
    background-color: white;
    text-align: center;
    grid-area: 2 / 6 / 3 / 7 ;
  }

  .div8 {
    background-color: purple;
    text-align: center;
    grid-area: 3 / 1 / 4 / 2 ;
  }

  .div9 {
    background-color: yellow;
    text-align: center;
    grid-area: 3 / 2 / 4 / 3 ;
  }

  .div10 {
    background-color: olive;
    text-align: center;
    grid-area: 3 / 3 / 4 / 4 ;
  }

  .div11 {
    background-color: red;
    text-align: center;
    grid-area: 3 / 4 / 4 / 5 ;
  }

  .div12 {
    background-color: brown;
    text-align: center;
    grid-area: 3 / 5 / 4 / 6 ;
  }

  .div13 {
    background-color: grey;
    text-align: center;
    grid-area: 3 / 6 / 4 / 7 ;
  }

  .div14 {
    background-color: olive;
    text-align: center;
    grid-area: 4 / 1 / 5 / 2 ;
  }

  .div15 {
    background-color: red;
    text-align: center;
    grid-area: 4 / 2 / 5 / 3 ;
  }

  .div16 {
    background-color: fuchsia;
    text-align: center;
    grid-area: 4 / 3 / 5 / 4 ;
  }

  .div17 {
    background-color: green;
    text-align: center;
    grid-area: 4 / 4 / 5 / 7 ;
  }

  /* 
  .div1 { grid-area: 1 / 1 / 2 / 7; }
  .div2 { grid-area: 2 / 1 / 3 / 2; }
  .div3 { grid-area: 2 / 2 / 3 / 3; }
  .div4 { grid-area: 2 / 3 / 3 / 4; }
  .div5 { grid-area: 2 / 4 / 3 / 5; }
  .div6 { grid-area: 2 / 5 / 3 / 6; }
  .div7 { grid-area: 2 / 6 / 3 / 7; }
  .div8 { grid-area: 3 / 1 / 4 / 2; }
  .div9 { grid-area: 3 / 2 / 4 / 3; }
  .div10 { grid-area: 3 / 3 / 4 / 4; }
  .div11 { grid-area: 3 / 4 / 4 / 5; }
  .div12 { grid-area: 3 / 5 / 4 / 6; }
  .div13 { grid-area: 3 / 6 / 4 / 7; }
  .div14 { grid-area: 4 / 1 / 5 / 2; }
  .div15 { grid-area: 4 / 2 / 5 / 3; }
  .div16 { grid-area: 4 / 3 / 5 / 4; }
  .div17 { grid-area: 4 / 4 / 5 / 7; } */

  .coloresdeletras{
    display: flex;
  }
  h3 {
    text-align: center;
  }
  
  
  .black {
    color: black;
    margin:10px
  }

  .teal {
    color: teal;
    margin:10px
  }

  .blue {
    color: blue;
    margin:10px
  }

  .navy {
    color: navy;
    margin:10px
  }

  .lime {
    color: lime;
    margin:10px
  }

  .white {
    color: white;
    margin:10px
  }

  .purple {
    color: purple;
    margin:10px
  }

  .yellow {
    color: yellow;
    margin:10px
  }

  .olive {
    color: olive;
    margin:10px
  }

  .red {
    color: red;
    margin:10px
  }

  .brown {
    color: brown;
    margin:10px
  }

  .gray {
    color: gray;
    margin:10px
  }

  .fuchsia {
    color: fuchsia;
    margin:10px
  }
  
  .green {
    color: green;
    margin:10px
  }

.aqua {
  color:aqua;
  margin:10px
}

.silver {
  color:silver;
  margin:10px
}
